# Python Project
### Benjamin Michaels
### 8/25/23

### The libraries you will need

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Load in DataFrames

In [ ]:
cost_of_living = pd.read_csv('Python Project/cost_of_living.csv')
ds_salaries = pd.read_csv('Python Project/ds_salaries.csv')
fyi_salary_data=  pd.read_csv('Python Project/Levels_Fyi_Salary_Data.csv')
country_codes = pd.read_excel('Python Project/country_codes.xlsx')

Used to find the average salary of a Data Scientist, $108187.83

In [ ]:
ds_salaries.groupby('job_title')['salary_in_usd'].agg([np.mean])

Rename columns to have them merged together

In [ ]:
country_codes.rename(columns = {'Alpha-2 code': 'country_codes'}, inplace = True)

Merging of dataframes

In [ ]:
salaries_and_codes = pd.merge(ds_salaries, country_codes, how= 'left', on= 'country_codes')

Create a dataframe of average salary per country for a data scientist

In [ ]:
salary_averages = salaries_and_codes.groupby('Country')['salary_in_usd'].mean()

Turn the Series into a Dataframe

In [ ]:
salary_averages_data = salary_averages.to_frame()

Merging country_codes and salary_averages_data dataframes

In [ ]:
salary_averages_data = pd.merge(salary_averages_data, country_codes, how= 'left', on= 'Country')

Split City column into two comlumns, city and Country

In [ ]:
cost_of_living[['city', 'Country']] = cost_of_living['City'].str.rsplit(',', n=1, expand=True)

Get two dataframes to merge even though they were being difficult, this felt like a round about way of doing so

In [ ]:
cost_of_living_average = salary_averages_data.Country.str.split()
salary_averages_data['Country_new'] = cost_of_living_average.str[:2].str.join(' ')
index = cost_of_living.Country.str.split()
cost_of_living['Country_new'] = index.str[:2].str.join(' ')

country_salary_data = pd.merge(salary_averages_data, cost_of_living, how= 'left', on= 'Country_new')

Create a salary effectiveness column

In [ ]:
country_salary_data["effective_salary"] = country_salary_data['salary_in_usd'] / country_salary_data['Cost of Living Index']

Sort by salary effectiveness

In [ ]:
country_salary_data.sort_values('effective_salary', ascending=False)

Get rid of all rows that show nothing in every value

In [ ]:
country_salary_data = country_salary_data[country_salary_data['effective_salary'].notna()]

Select the top 5 places

In [ ]:
top_5_places = country_salary_data[:5]

Get rid of unnecessary columns

In [ ]:
top_5_places = top_5_places.drop(['Country_x','salary_in_usd','country_codes','Alpha-3 code','Numeric','Country_new', 'Rank', 'Cost of Living Plus Rent Index'], axis=1)

Create finished bar plot

In [ ]:
top_5_places.plot(x='City', kind='bar',stacked=True,
                  title= 'Cost of Living')